@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 30 8% 5%;

    --card: 0 0% 98%;
    --card-foreground: 30 8% 5%;

    --popover: 0 0% 98%;
    --popover-foreground: 30 8% 5%;

    --primary: 20 97% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 30 7% 94%;
    --secondary-foreground: 30 8% 5%;

    --muted: 30 7% 94%;
    --muted-foreground: 21 6% 45%;

    --accent: 30 7% 94%;
    --accent-foreground: 30 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 20 6% 90%;
    --input: 24 6% 83%;
    --ring: 19 24% 75%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 240 3% 6%;
    --foreground: 0 0% 98%;

    --card: 240 3% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 240 3% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 233 78% 55%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 5% 12%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 18%;
    --muted-foreground: 235 5% 49%;

    --accent: 233 44% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 12%;
    --input: 240 4% 18%;
    --ring: 233 78% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}